---
extends: default

ignore: |
  target*/
  target-*/
  **/target*/

rules:
  line-length:
    max: 120
  truthy:
    allowed-values: ['true', 'false', 'on', 'off', 'yes', 'no']
  comments-indentation: disable
  document-start: disable
