[package]
name = "d-delaunay"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.93"
derive_builder = "0.20.2"
nalgebra = "0.33.2"
num-traits = "0.2.19"
peroxide = "0.38.1"
serde = { version = "1.0.214", features = ["derive"] }
serde_json = "1.0.132" 
serde_test = "1.0.177"
thiserror = "2.0.1"
uuid = { version = "1.11.0", features = ["v4", "fast-rng", "macro-diagnostics", "serde"] }

[lints.rust]
unsafe_code = "forbid"
dead_code = "allow"
missing_docs = "warn"

[lints.clippy]
extra_unused_type_parameters = "warn"
